# Created by https://www.toptal.com/developers/gitignore/api/macos,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,visualstudiocode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Node_modules
node_modules/